In [119]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [120]:
dataframe = pd.read_csv('data.csv')

In [121]:
dataframe = dataframe.drop(['index', 'sq_price'], axis=1)

In [122]:
dataframe = dataframe[0:10]

In [123]:
dataframe.loc[:,('y')] = [1,1,1,0,0,1,0,1,1,1,]

In [124]:
dataframe

     area  bathrooms     price  y
0  2104.0        3.0  399900.0  1
1  1600.0        3.0  329900.0  1
2  2400.0        3.0  369000.0  1
3  1416.0        2.0  232000.0  0
4  3000.0        4.0  539900.0  0
5  1985.0        4.0  299900.0  1
6  1534.0        3.0  314900.0  0
7  1427.0        3.0  198999.0  1
8  1380.0        3.0  212000.0  1
9  1494.0        3.0  242500.0  1

In [125]:
inputX = dataframe.loc[:, ['area', 'bathrooms', 'price']].as_matrix()
inputY = dataframe.loc[:, ['y']].as_matrix()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [126]:
learning_rate = 0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [127]:
# 3 is no of features
x = tf.placeholder(tf.float32, [None,3])
w = tf.Variable(tf.zeros([3,3]))
b = tf.Variable(tf.zeros([3]))

In [128]:
y_values = tf.add(tf.matmul(x, w), b)
y = tf.nn.softmax(y_values)

In [129]:
y_ = tf.placeholder(tf.float32, [None,1])

In [130]:
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [131]:
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

In [132]:
for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x: inputX, y_: inputY})
    
    if i % display_step == 0:
        cc = sess.run(cost, feed_dict={x:inputX, y_:inputY})
        print('Step: ', '%04d' % (i), 'Cost: ', '{:9f}'.format(cc))
    
print('Done')
training_cost = sess.run(cost, feed_dict={x: inputX, y_: inputY})
print('Cost: ', training_cost, 'W: ', sess.run(w), 'b: ', sess.run(b))

Step:  0000 Cost:   0.516667
Step:  0050 Cost:   0.516667
Step:  0100 Cost:   0.516667
Step:  0150 Cost:   0.516667
Step:  0200 Cost:   0.516667
Step:  0250 Cost:   0.516667
Step:  0300 Cost:   0.516667
Step:  0350 Cost:   0.516667
Step:  0400 Cost:   0.516667
Step:  0450 Cost:   0.516667
Step:  0500 Cost:   0.516667
Step:  0550 Cost:   0.516667
Step:  0600 Cost:   0.516667
Step:  0650 Cost:   0.516667
Step:  0700 Cost:   0.516667
Step:  0750 Cost:   0.516667
Step:  0800 Cost:   0.516667
Step:  0850 Cost:   0.516667
Step:  0900 Cost:   0.516667
Step:  0950 Cost:   0.516667
Step:  1000 Cost:   0.516667
Step:  1050 Cost:   0.516667
Step:  1100 Cost:   0.516667
Step:  1150 Cost:   0.516667
Step:  1200 Cost:   0.516667
Step:  1250 Cost:   0.516667
Step:  1300 Cost:   0.516667
Step:  1350 Cost:   0.516667
Step:  1400 Cost:   0.516667
Step:  1450 Cost:   0.516667
Step:  1500 Cost:   0.516667
Step:  1550 Cost:   0.516667
Step:  1600 Cost:   0.516667
Step:  1650 Cost:   0.516667
Step:  1700 Cost:   0.516667
Step:  1750 Cost:   0.516667
Step:  1800 Cost:   0.516667
Step:  1850 Cost:   0.516667
Step:  1900 Cost:   0.516667
Step:  1950 Cost:   0.516667
Done
Cost:  0.5166666 W:  [[1.4777170e-08 1.4777170e-08 1.4777170e-08]
 [2.2351291e-11 2.2351291e-11 2.2351291e-11]
 [2.6990763e-06 2.6990763e-06 2.6990763e-06]] b:  [7.450627e-12 7.450627e-12 7.450627e-12]

In [100]:
inputY

array([[1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1]])