In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
dataframe = pd.read_csv('data.csv')

In [21]:
dataframe = dataframe.drop(['index', 'sq_price'], axis=1)

In [22]:
dataframe = dataframe[0:10]

In [39]:
dataframe.loc[:,('y')] = [1,1,1,0,0,1,0,1,1,1,]

In [42]:
dataframe

     area  bathrooms     price  y
0  2104.0        3.0  399900.0  1
1  1600.0        3.0  329900.0  1
2  2400.0        3.0  369000.0  1
3  1416.0        2.0  232000.0  0
4  3000.0        4.0  539900.0  0
5  1985.0        4.0  299900.0  1
6  1534.0        3.0  314900.0  0
7  1427.0        3.0  198999.0  1
8  1380.0        3.0  212000.0  1
9  1494.0        3.0  242500.0  1